/node_modules
/public/hot
/public/storage
/public/layout_attachments/*
/public/area_layout_attachments/*
/public/js/views/*
/public/asset_attachments/*
/public/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
